kagglehub==0.3.3
pandas==2.2.3
numpy==1.26.3
gdown==5.2.0
ipython==8.29.0
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
networkx==3.4.2
gymnasium[classic_control]
tensorflow==2.18.0
shap==0.46.0